<button
  type="submit"
  [disabled]="isDisabled() || isLoading()"
  class="w-full bg-indigo-500 text-white py-3 rounded-lg font-semibold hover:bg-indigo-900 transition flex items-center justify-center disabled:opacity-30">
    @if(isLoading()){
    <span class="animate-spin border-2 border-white border-t-transparent rounded-full w-5 h-5 mr-2"></span>
    }
    
  {{ isLoading() ? 'Logging in...' : 'Login' }}

</button>

 <!-- <button
  type="submit"
  [disabled]="loading || loginform.invalid || false"
  class="w-full bg-indigo-500 text-white py-3 rounded-lg font-semibold hover:bg-indigo-900 transition flex items-center justify-center disabled:opacity-30">

  <span *ngIf="loading"
    class="animate-spin border-2 border-white border-t-transparent rounded-full w-5 h-5 mr-2">
  </span>

  {{ loading ? 'Logging in...' : 'Login' }}

</button> -->