# .NET
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.log

# ASP.NET
wwwroot/uploads/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db